<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- The top header containing menu items -->

<div appStickyHeader class="row mx-0 p-1"
    style="background-color: white; box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);;z-index: 5px;">
    <div class="col-md-2 nav-head" (click)="scrollToMainPage()">
        <h3 class="mt-3 menu-item">Shravya Kasturi</h3>
    </div>
    <div class="col-md-6 "></div>
    <div class="col-md-1 nav-head" (click)="onTabClick('#workSectionMine')">
        <h3 class="mt-3 menu-item">Work</h3>
    </div>
    <div class="col-md-1 nav-head" (click)="onTabClick('#projectSectionMine')">
        <h3 class="mt-3 menu-item">Projects</h3>
    </div>
    <div class="col-md-1 nav-head" (click)="onTabClick('#aboutSectionMine')">
        <h3 class="mt-3 menu-item">About</h3>
    </div>
    <div class="col-md-1 nav-head" (click)="onTabClick('#connectSectionMine')">
        <h3 class="mt-3 menu-item">Connect</h3>
    </div>
</div>

<!-- main sections containing image and title -->

<section id="mainSectionMineOnly" #mainSectionMine style="height: 100vh;display: flex;"
    class="main-section px-0 py-0 mx-0 my-0">
    <div class="px-5 py-5 mt-5" style="display: flow-root;margin-top: 12rem;">
        <label class="name-text">Hey! I'm</label><br>
        <label class="name-text" style="font-size: 3rem;
     font-weight: bold; color: rgb(130,133,215);">Shravya Kasturi
        </label>
        <h1 class="name-text" style="text-align: left; 
    font-size: 2rem;
    font-weight: normal;">I am
            <span style="font-size: 2.5rem;color: rgb(130,133,215);font-style: italic;font-weight: normal;"
                class="txt-rotate" data-period="2000"
                data-rotate='[ "Confident.", "Simple.", "Nerdy.", "Fun!", "Curious.","Strong"]'></span>
        </h1>
    </div>

</section>

<!-- this below section contains the work experience -->

<section id="workSectionMine" style="overflow-x: hidden;" class="work-section px-0 py-0 mx-0 my-0">
    <h1 class="work-experience fancy"><span> Work Experience So
            Far </span></h1>
    <div class="row" style="align-items:flex-start;overflow-x: hidden;padding-top: 3rem;padding-bottom: 1rem;">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <img src="assets/inncircles.png" style="overflow-x: hidden; border-radius: 25px;margin-top: 2rem;"
                alt="Cinque Terre" width="200vw" height="160vh">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h3 style="color:white;text-align: left;"> <a href="https://www.inncircles.com"
                    style="text-decoration: none;color: white;">Inncircles</a> 🚀</h3>
            <h5 style="color: yellowgreen;text-align: left;">Product Developer & MEAN Stack Developer, <span
                    style="font-style: italic;">Since June 2019</span></h5>
            <p style="color: white;text-align:left;font-weight: 100;">Working on CRM module for managing the flat sales
                for various Construction companies. Mongo DB is used for storing the data,
                Angular for front-end and express and NodeJS for backend. My team and I make sure that the UI/UX is
                intuitive and simple to understand.<br>
                <br>Also working on mobile application in React Native using Expo. I worked on some interesting use
                cases
                like 'retrieving information from excel sheet', 'downloading pdfs from mobile app' among other things.
                Writing re-usuable and robust code is number one on our check list.</p>
        </div>
    </div>
    <hr />
    <div class="row py-3" style="align-items:flex-start;overflow-x: hidden;">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <img src="assets/OCI.jpg" style="overflow-x: hidden; border-radius: 25px;margin-top: 2rem;"
                alt="Cinque Terre" width="200vw" height="160vh">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h3 style="color:white;text-align: left;"> <a href="https://www.oracle.com/in/cloud/"
                    style="text-decoration: none;color: white;">Oracle Cloud Infrastructure</a> ☁️</h3>
            <h5 style="color: yellowgreen;text-align: left;">Project Intern, <span style="font-style: italic;">Jan 2019
                    - June 2019</span></h5>
            <p style="color: white;text-align:left;font-weight: 100;">My team worked on various deployment and
                configuration management tools like puppet, chef, ansible, terraform e.t.c..
                During my internship period, I got the opportunity to learn more linux OS, automation of deployment,
                cloud servers architecture building. I specifically worked on network monitoring tools like Nagios and
                OMCS. <br>
                <br>I successfully registered the nagios network monitoring tool on the cloud architecture. Also did
                some research on OMCS tool and able to partially configure it on the network before my internship ended.
            </p>
        </div>
    </div>

</section>

<!-- this below section contains the projects works -->

<section id="projectSectionMine" style="overflow-x: hidden;" class="project-section px-0 py-0 mx-0 my-0">
    <h1 class="project-experience fancy-project"><span> Things I have Done
        </span></h1>
    <div class="row" style="align-items:flex-start;overflow-x: hidden;padding-top: 3rem;padding-bottom: 1rem;">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <img src="assets/appTime.png" style="overflow-x: hidden; border-radius: 25px;margin-top: 2rem;"
                alt="Cinque Terre" width="200vw" height="200vh">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h3 style="color:rgb(26,26,43);text-align: left;"> <a
                    href="https://apkpure.com/app-time-plus/com.wise.bottombar.sample"
                    style="text-decoration: none;color:rgb(130,133,215);">AppTimePlus</a> ⌛</h3>
            <h5 style="color: yellowgreen;text-align: left;">Microsoft WISE Mentorship Program, <span
                    style="font-style: italic;">Mar 2018 - Dec 2018</span></h5>
            <p style="color: rgb(26,26,43);text-align:left;font-weight: 200;">With many new social media apps coming
                into market, it is hard for today's youth to concentrate on what's important.
                Main aim to help such people by controlling their app usage times.<br>
                <br>Wriiten in java with firebase as backend, for android phone users, this app lets the user assign
                usage times limits to apps, get usage time graphs on daily basis. Also contains special features like
                getting friends usage times and daily/ weekly challenges</p>
        </div>
    </div>
    <hr />
    <div class="row py-3" style="align-items:flex-start;overflow-x: hidden;">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <img src="assets/chatBot.jpg" style="overflow-x: hidden; border-radius: 25px;margin-top: 2rem;"
                alt="Cinque Terre" width="200vw" height="160vh">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h3 style="color:rgb(26,26,43);text-align: left;"> <a href="https://www.youtube.com/watch?v=9czScK2Byi0"
                    style="text-decoration: none;color: rgb(130,133,215);">Vasavi Chatbot</a> ⌨</h3>
            <h5 style="color: yellowgreen;text-align: left;">Microsoft WISE Mentorship Program, <span
                    style="font-style: italic;">
                    Mar 2018 - Dec 2018</span></h5>
            <p style="color: rgb(26,26,43);text-align:left;font-weight: 200;">Any student, new or old have some doubts
                regarding their college, it might be regarding faculty, placements, exam dates, application dead lines
                e.t.c.. A Chatbot seemed like the right answer to the above questions. A one stop place to clarify all
                your doubts regarding our college.<br>
                <br>Used Microsoft Azure services QnA bot maker to train the bot with our questions. Then published to a
                skype endpoint URL.
            </p>
        </div>
    </div>
    <hr />
    <div class="row py-3" style="align-items:flex-start;overflow-x: hidden;">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <img src="assets/facial_recog.jpg"
                style="overflow-x: hidden; border-radius: 25px;margin-top: 2rem;margin-bottom: 2rem;" alt="Cinque Terre"
                width="200vw" height="160vh">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h3 style="color:rgb(26,26,43);text-align: left;"> <a href="https://www.youtube.com/watch?v=9czScK2Byi0"
                    style="text-decoration: none;color: rgb(130,133,215);">Smart Door Locking System</a> 🏠</h3>
            <h5 style="color: yellowgreen;text-align: left;">IoT Project Using RPi, <span style="font-style: italic;">
                    Jul 2018 - Aug 2018</span></h5>
            <p style="color: rgb(26,26,43);text-align:left;font-weight: 200;">A prototype of Smart Door Lock that
                unlocks using Facial Recognition. Used RPi 2 for running the program, piCam for capturing images and
                training, Open CV module in python for model building and training.<br>
            </p>
        </div>
    </div>
</section>

<!-- this below section contains more about me -->

<section id="aboutSectionMine" style="overflow-x: hidden;" class="about-section px-0 py-0 mx-0 my-0">
    <h1 class="project-experience fancy-project" style="margin-top: 0rem;"><span> Other Fun Things I do
        </span></h1>
    <p class="mt-3" style="color:rgb(26,26,43);text-align: center;">The most fun thing for me is playing with my baby
        niece, Mia.
        <br>Below are some other things I do in case she is not around. (P.S : She is not around much)</p>
    <div class="row"
        style="display:flex;overflow-x: hidden;padding-top: 2rem;padding-bottom: 2rem;align-content: center;-webkit-box-align: center;">
        <div class="col-md-1"></div>
        <div class="col-md-2 container">
            <img src="assets/baking/cake.jpg" class="image-overlay" alt="My image Baking description" alt="Cinque Terre"
                width="275vw" height="220vh">
            <div class="middle">
                <h2>Baking & Cooking</h2>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 container">
            <img src="assets/binge/bb.jpg" class="image-overlay" alt="My image Baking description" alt="Cinque Terre"
                width="275vw" height="220vh">
            <div class="middle">
                <h2>Binging Shows</h2>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 container">
            <img src="assets/novel/novels.jpg" class="image-overlay" alt="My image Baking description"
                alt="Cinque Terre" width="275vw" height="220vh">
            <div class="middle">
                <h2>Reading Old Novels</h2>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</section>

<!-- this section contains the social media links -->
<section id="connectSectionMine" style="height: 100vh;overflow-x: hidden;" class="connect-section">
    <h1  class="about-experience" style="padding-top: 5rem;" ><span> I'm passionate about learning new things,
        </span></h1>
    <h1 class="about-experience fancy-project" style="margin-top: 0rem;" ><span>love to discuss politics and books,
        </span></h1>
    <h1 class="about-experience mt-0" ><span>and can be easily pleased with desserts or omlette!
        </span></h1>
    <p  class="mt-3" style="color:rgb(26,26,43);text-align: center;font-size:large;">Let's Connect! I am usually active in <a href="https://www.linkedin.com/in/shravya-kasturi-341256168/" style="text-decoration: blue;">LinkedIn</a><br> Message me in
        <a href="https://www.linkedin.com/in/shravya-kasturi-341256168/" style="text-decoration: blue;">LinkedIn</a> or
        shoot me a mail at <span style="color: blue;">chittishravi123@gmail.com</span></p>
        <div class="row my-5" style="margin-left: 25vw;">
            <a class="mx-4">
                <img src="assets/connect/twitter.webp" class="zoom" width="150" height="150">
            </a>
            <a class="mx-4" href="https://www.linkedin.com/in/shravya-kasturi-341256168/">
                <img src="assets/connect/linkedin.jpg" class="zoom" width="150" height="150">
            </a>
            <a class="mx-4" href="https://www.instagram.com/shravya_kasturi/">
                <img src="assets/connect/insta.jpg" class="zoom" width="150" height="150">
            </a>
        </div>
</section>